
  h1 {
    color: rgb(245, 245, 245);
  }
  
  ul li{
    color:#ffffff;
  }
  ol li{
    color:rgb(255, 255, 255);
    list-style-type:none;
  }
  div p{
    color:rgb(187, 132, 132);
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  body{
   background-color: rgb(109, 62, 62);
  }
  #seccion2{
    background-color: beige;
  }
  .clase {
 color: chartreuse;
  }